.cardHome1{
    flex-shrink: 0;
    height: 300px;
    width: 180px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.cardHome2{
    flex-shrink: 0;
    height: 300px;
    width: 180px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

}
.cardHome3{
    flex-shrink: 0;
    height: 300px;
    width: 180px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

}
.cardHome4{
    flex-shrink: 0;
    height: 300px;
    width: 180px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

}
.cardHome5{
    flex-shrink: 0;
    height: 300px;
    width: 180px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);


}
 .bg-slide{
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid var(--accent-color);
    position: relative;
}
.bg-slide1{
    background: url('https://picsum.photos/200/300');
}
.bg-slide2{
    background: url('https://picsum.photos/200/300');
}
.bg-slide3{
    background: url('https://picsum.photos/200/300');
}
.bg-slide4{
    background: url('https://picsum.photos/200/300');
}
.bg-slide5{
    background: url('https://picsum.photos/200/300');
}
.bg-slide6{
    background: url('https://picsum.photos/200/300');
}
.bg-slide7{
    background: url('https://picsum.photos/200/300');
}
.bg-slide8{
    background: url('https://picsum.photos/200/300');
}
.bg-slide9{
    background: url('https://picsum.photos/200/300');
}
.bg-slide10{
    background: url('https://picsum.photos/200/300');
}
.bg-slide::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: -100%;
    background-color:rgba(239, 237, 76, 0.6) ;
    transition:1s;
}
.bg-slide:hover::after{
    top:0%
}

/* Card superiore */
.card-inner{
    position: absolute;
    bottom: -50px;
    left: -15px;
    transition: 1s;
    opacity: 0;
    z-index: 20;
    color: black;
    width: 100%;
}
.bg-slide:hover .card-inner{
    bottom: 5px;
    opacity: 1;
}


/* tasti card */

.btn-primar {
    background:
        linear-gradient(to right, var(--btn-color)2px, transparent 2px) 0 0,
        linear-gradient(to right, var(--btn-color)2px, transparent 2px) 0 100%,
        linear-gradient(to left, var(--btn-color)2px, transparent 2px) 100% 0,
        linear-gradient(to left, var(--btn-color)2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, var(--btn-color)2px, transparent 2px) 0 0,
        linear-gradient(to bottom, var(--btn-color)2px, transparent 2px) 100% 0,
        linear-gradient(to top, var(--btn-color)2px, transparent 2px) 0 100%,
        linear-gradient(to top, var(--btn-color)2px, transparent 2px) 100% 100%
    ;

    background-repeat: no-repeat;
    background-size: 10px 10px;
    transition: 0.4s;
}

.btn-primar:hover {
    letter-spacing: 2px;
}

/* Card inferiore */
.card-inner2{
    position: absolute;
    bottom: -50px;
    left: -15px;
    transition: 1s;
    opacity: 0;
    z-index: 20;
    color: black;
    width: 100%;
}
.bg-slide:hover .card-inner2{
    bottom: 5px;
    opacity: 1;
}
